<div id="actPage" ng-controller="actPage">
    <section id="actContainer">
        <div class="actHead">
            <div class="container">
                <h1 class="white">Activities</h1>
                <p class="white">A Lorem Ipsum egy egyszerû szövegrészlete, szövegutánzata a betûszedõ és nyomdaiparnak. A Lorem Ipsum az 1500-as évek óta standard szövegrészletként szolgált az iparban; mikor egy ismeretlen nyomdász összeállította a betûkészletét és egy példa-könyvet vagy szöveget nyomott papírra, ezt használta.</p>
                <div class="downBtn">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 270 270" enable-background="new 0 0 270 270" id="arrow" class="svg-arrow">
                        <path stroke="#fff" stroke-width="18" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" fill="none" d="M115.87 95.5L154 135l-38.13 39.5" id="arrow"></path>
                    </svg>
                </div>
            </div>
        </div>
<!--
        <div class="container-fluid">
            <div class="row">
                <div ng-repeat="act in actInfo">
                    <div container-Box data="act" class="col-md-4"></div>
                </div>
            </div>
        </div>
-->
        
        <div class="container">
            <article class="boxContainer leftFlex">
                <span class="imgBox">
                    <img src="assets/image/cards/card1.jpg" class="img-responsive" />
                </span>
                <div class="boxContent">
                    <h2 class="light">INTEGER VITAE LIBERO ACRISUS EGESTAS PLACERAT SOLLICITUDIN</h2>
                    <p>Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero eu augue. Morbi purus libero, faucibus adipiscing, commodo quis, gravida id, est.</p>
                    <div class="boxBtn">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 270 270" enable-background="new 0 0 270 270" id="arrow" class="svg-arrow">
                            <path stroke="#555" stroke-width="18" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" fill="none" d="M115.87 95.5L154 135l-38.13 39.5" id="arrow"></path>
                        </svg>
                    </div>                
                </div>
            </article>
            
            <article class="boxContainer rightFlex">
                <span class="imgBox">
                    <img src="assets/image/cards/card2.jpg" class="img-responsive" />
                </span>
                <div class="boxContent">
                    <h2 class="light">INTEGER VITAE LIBERO ACRISUS EGESTAS PLACERAT SOLLICITUDIN</h2>
                    <p>Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero eu augue. Morbi purus libero, faucibus adipiscing, commodo quis, gravida id, est.</p>
                    <div class="boxBtn">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 270 270" enable-background="new 0 0 270 270" id="arrow" class="svg-arrow">
                            <path stroke="#555" stroke-width="18" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" fill="none" d="M115.87 95.5L154 135l-38.13 39.5" id="arrow"></path>
                        </svg>
                    </div>                
                </div>
            </article>
            
            
            <article class="boxContainer leftFlex">
                <span class="imgBox">
                    <img src="assets/image/cards/card3.jpg" class="img-responsive" />
                </span>
                <div class="boxContent">
                    <h2 class="light">INTEGER VITAE LIBERO ACRISUS EGESTAS PLACERAT SOLLICITUDIN</h2>
                    <p>Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero eu augue. Morbi purus libero, faucibus adipiscing, commodo quis, gravida id, est.</p>
                    <div class="boxBtn">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 270 270" enable-background="new 0 0 270 270" id="arrow" class="svg-arrow">
                            <path stroke="#555" stroke-width="18" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" fill="none" d="M115.87 95.5L154 135l-38.13 39.5" id="arrow"></path>
                        </svg>
                    </div>                
                </div>
            </article>
        </div>        
    </section>
</div> 