<header id="navigationBar" ng-controller="navigationBar">
    <ul class="list-unstyled">
<!--        <li class="animated"><a ng-click="setIndex(0)" ng-class="(index == 0) ? 'active' : ''" href="#/search">Search</a></li>-->
        <li class="animated"><a class="active" href="#/search">Search</a></li>
        <li class="animated"><a href="#/register">Register</a></li>
        <li class="animated"><a href="#/modify">Modify</a></li>
    </ul>
</header>
<section id="topHead">
    <div class="heading">
        <h1 class="white light">Clinical Register Unit</h1>
    </div>
</section>
<div class="navBtn"> 
    <span class="stripe"></span> 
    <span class="stripe"></span> 
    <span class="stripe"></span> 
</div>